{% extends 'layouts/layout.html.twig' %}

{% block content %}

    <div id="main-content">
        {{ pimcore_areablock('content', {
            'allowed': ['cols', 'wysiwyg-text', 'image', 'product-grid', 'slider'],
            'group': {
                'Layout': ['cols'],
                'Content': ['wysiwyg-text', 'product-grid'],
                'Media': ['image', 'slider']
            },
            'params': {
                'cols': {
                    'forceEditInView': true
                },
                'slider': {
                    'forceEditInView': true
                }
            }
        }) }}
    </div>
{% endblock %}
